@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

input[type="date"]::-moz-calendar-picker-indicator {
  filter: invert(100%);
}

input[type="date"]::-ms-expand {
  filter: invert(100%);
}
